
/** ============== SEE HTML FOR COMMENT REFERENCES ==============*/
/** === BODY ===*/
body {
    overflow-x: hidden;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/** === BARRE DE NAVIGATION + INTRODUCTION === */
/** ——— Barre de Navigation ——— */
.logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 35px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container-top-nav ul li {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    position: relative;
    margin: 27px 15px 0px 10px;
    letter-spacing: 5px;
    left: 750px;
    color: #ffffff;
}    
.container-top-nav ul li:nth-child(7),
.container-top-nav ul li:nth-child(8) {
    font-size: 15px;
}
.container-top-nav ul .search, 
.container-top-nav ul .shopping{
    margin: 15px 10px 0px 5px;
}
.container-top-nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
}
.container-top-nav nav ul li a::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 20px;
    height: 10px;
    width: 10px;
    background: #00da97;
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.container-top-nav nav ul li.search a::after,
.container-top-nav nav ul li.shopping a::after {
    top: auto;
    bottom: 20px;
    background:red;  
    
}
.container-top-nav ul li a:hover::after {
    opacity: 1;
}
/** ——— Introduction ——— */
body {
    background: transparent url("../Maquette/assets/images/headerbluebg.png");
    background-repeat: no-repeat;
    background-position: 140% 0%;

}
.container {
    background: transparent url("../Maquette/assets/images/IPhone.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    min-height: 800px;
  
}
.ligne {
    width: 51px;
    height: 2px;
    background: #2196f3;
    margin: 0px;
}
.container-fast-safe {
    margin: 100px 0px 0px 0px;
    padding-top: 120px;
}
.container-top-nav .ligne {
    margin-bottom: -10px;
}
.container-fast-safe h1 {
    
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
}
.container-fast-safe h1 span {
    font-family: 'Playfair Display', serif;
    
}
.container-fast-safe p {
    font-family:'Rubik', sans-serif; 
    font-size: 28px;
    margin-bottom: 80px;
}
.container-fast-safe a:nth-child(4),
.container-fast-safe a:nth-child(5) {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    margin-right: 15px;
    right: 20px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #ffffff;  
    transition: all 170ms linear;        
}
.container-fast-safe a:nth-child(4):hover,
.container-fast-safe a:nth-child(5):hover {
    color: white;
    background-color: #2196f3;    
    border: none;  

}
.fa-apple,
.fa-google-play {
    font-size: 30px;
    position: relative;
    top: 5px;
    right: 20px;
}
main {
    overflow: hidden;
    margin-bottom: 150px;
}
/**=== MAIN: 1ER + 2EME + 3EME PARTIE ===*/
/**=== 1ER PARTIE - 1. CREATE ACCOUNT 2. MAKE A PAYEMENT 3. CHOOSE THE AMOUNT  ===*/
.container-unit-five {
    width: 100%;
    max-width: 1200px;
    margin: 150px auto 50px auto;
    text-align: center;
    padding-bottom: 40px;
}
.container-unit-five .ligne {
    margin: auto;   
}    
.container-unit-five h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 75px;
}
/** ——— 1. Create account 2. Make a payement 3. Choose the amount ——— */
.container-unit-five ul {
    padding: 0px;   
}   
.container-unit-five ul li img {
    margin: 0px 0px 30px 0px;
}
.container-unit-five ul li {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    position: relative;
    color: #6f7982;
    padding: 40px;
    margin: 0px 20px 0px 0px;
    border-radius: 7px;
    background-color: #ffffff;
    transition: all 270ms linear; 
}
.container-unit-five ul li:hover {
    box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9); 
}
.container-unit-five ul li h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    text-align: left;
    position: relative;
    color: #000000;
}
.container-unit-five ul li span {
    display: block;
    float: right;
    color: #72adfe;
    margin: 30px 30px 0px 0px;
    opacity: 0;
    transition: all 270ms linear;
}
.container-unit-five ul li:hover span {
    opacity: 1;
    margin-right: 0;
}
/**=== DEUXIEME PARTIE : TEXTE DE TRANSITION + CARTES DE CREDITS + DEMO ===*/
/** ——— Texte de transition ——— */
.secondpart .getstarted {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #6f7982;
    line-height: 30px;
}
.secondpart p strong {
    color: #000000;    
}
.secondpart .getstarted a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #2196f3;
    text-decoration: none;   
}
.secondpart a span {
    margin-left: 10px;  
}
.secondpart .getstarted p {
    padding-bottom: 50px;
}
/** ——— Images de cartes de crédits ——— */
.secondpart .payonsites {
    background: transparent url("../Maquette/assets/images/credit_cards.png");
    background-repeat: no-repeat;
    background-position: -25% 0%;
    background-size: contain;
    min-height: 1000px;  
    position: relative;
    margin-top: 75px;
}
/** ——— Pay on sites (on top of demo button) ——— */
.secondpart .payonsites h3 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 30px;
    text-align: left;   
    padding-top: 125px;
    padding-left: 850px;
}
.secondpart .payonsites p {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.8;
    text-align: left;
    color: #6f7982;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 850px;
}
/** ——— Demo: Seem Demo button ——— */
.secondpart .payonsites a {
    position: relative;
    margin-left: 850px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 10px 33px;
    background-color: #604def;  
}
.fa-play-circle {
    font-size: 16px;
    position: relative;
    right: 5px;
}
/** ===TROISIEME PARTIE: 1. A. DEVELOPMENT DIRECTOR + B. INSTITUTIONS
                         2. A. BETTER WAY TO ORDER  + B. VIDEO BOX
                         3. A. TRUSTER              + B. BOX MONEY C. FOUR BOXES */
.thirdpart {
    text-align: center;
    margin-top: -50%;
}
/** ——— 1. a. Development Director +  b. Institutions ——— */
.thirdpart .ligne {
    margin: auto;
    margin-top: 550px;
}
.thirdpart h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 70px;  
}
/** ——— 1. a. Development Director ——— */
.thirdpart .greycircle {
    height: 60px;
    width: 60px;
    background-color: #cccccc;
    border-radius: 50%;
    left: 50%;
    margin-top: -30px;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
}
.thirdpart .box-thirdpart {
    display: inline-block;
    position: relative;
    padding: 40px 70px 60px 70px;
    border-radius: 7px;
    background-color: white;
    transition: all 270ms linear;
    z-index: 0;
}
.thirdpart .box-thirdpart:hover {
    box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9);
}
.thirdpart .box-thirdpart h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    line-height: 1.75;   
}
.thirdpart .box-thirdpart h3 span {
    color: #6f7982;
}
.thirdpart .box-thirdpart p {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #6f7982;
    padding-bottom: 35px;
}
.thirdpart .box-thirdpart a {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #604def;
    text-decoration: none;
    left: 50%; 
    transform: translate(-50%);  
}
.thirdpart .box-thirdpart span {
    margin-left: 10px;
}
.thirdpart .leftchevron span {
    position: absolute;
    margin: 150px 0px 0px -450px;
    color: #dadada;
    font-size: 25px;
    transition: all 170ms linear;
    text-decoration: none;
}
.thirdpart .leftchevron span:hover {
    transform: scale(1.5);
    color: #6f7982;
}
.thirdpart .rightchevron span {
    position: absolute;
    margin: 150px 0px 0px 425px;
    color: #dadada;
    font-size: 25px;
    transition: all 170ms linear;
    text-decoration: none;
}
.thirdpart .rightchevron span:hover {
    transform: scale(1.5);
    color: #6f7982;
}
/** ——— 1. b. Institutions ——— */
.row {
    padding-top: 75px;
    padding-bottom: 100px;
    display: flex;
    margin-left: 300px;
    margin-right: 300px; 
}
.column {
    flex: 16.67%;
    transform: scale(0.8);
}
/** ——— 2. a. Better way to order + b. Video box ——— */
/** ——— 2. a. Better way to order ——— */
.thirdpart .abetterway h3 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 40px;
    text-align: left;   
    padding-top: 125px;
    padding-left: 255px;
}
.thirdpart .abetterway p {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.8;
    text-align: left;
    color: #6f7982;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 255px;
}
.thirdpart .abetterway strong {
    color: black;
}
.thirdpart .abetterway a {
    position: relative;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 10px 33px;
    background-color: #2196f3;
    margin-right: 855px;
}
/** ——— 2. a. Better way to order => IMG background blue ——— */
.thirdpart .abetterway {
    background: transparent url("../Maquette/assets/images/sidebg.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 1000px;  
    background-position: 325% 0%;
    margin-top: 75px;
    position: relative;
    z-index: -1; 
}
/** ——— 2. b. Video box  ——— */
.thirdpart .grey-rectangle {
    width: 573px;
    height: 445px;
    background-color: #9a96a2;
    border-radius: 6px;
    margin-top: -900px;
    left: 55%;
    position: relative;
}
.thirdpart .grey-rectangle .white-outer-circle-1 {
    width: 220px;
    height: 220px;
    background-color:#9a96a2;
    border-radius: 50%;
    top:50%;
    left:50%;
    border: 1px solid #ffffff;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 100ms linear;
}
.thirdpart .grey-rectangle .white-outer-circle-1:hover {
    width: 230px;
    height: 230px;
}    
.thirdpart .grey-rectangle .white-outer-circle-2 {
    width: 170px;
    height: 170px;
    background-color:#9a96a2;
    border-radius: 50%;
    top:50%;
    left:50%;
    border: 1px solid #ffffff;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 100ms linear;
}
.thirdpart .grey-rectangle .white-outer-circle-2:hover {
    width: 180px;
    height: 180px;
}    
.thirdpart .grey-rectangle .white-outer-circle-3 {
    width: 140px;
    height: 140px;
    background-color:#9a96a2;
    border-radius: 50%;
    top:50%;
    left:50%;
    border: 1px solid #ffffff;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 100ms linear;
}
.thirdpart .grey-rectangle .white-outer-circle-3:hover {
    width: 150px;
    height: 150px;
}    
.thirdpart .grey-rectangle .white-outer-circle-4 {
    width: 110px;
    height: 110px;
    background-color:#9a96a2;
    border-radius: 50%;
    top:50%;
    left:50%;
    border: 1px solid #ffffff;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 100ms linear;
}
.thirdpart .grey-rectangle .white-outer-circle-4:hover {
    width: 120px;
    height: 120px;
}    
.thirdpart .grey-rectangle .white-center-circle {
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 270ms linear;
    display: block;
}
.thirdpart .grey-rectangle .white-center-circle:hover {
    width: 80px;
    height: 80px;
}   
.thirdpart .grey-rectangle a {
    display: inline-block;
}
.thirdpart .grey-rectangle a:hover + .blue-center-triangle {
    border-top: 10px solid transparent;
    border-left: 20px solid#2196f3;
    border-bottom: 10px solid transparent;
}   
.thirdpart .grey-rectangle .blue-center-triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid#2196f3;
    border-bottom: 5px solid transparent;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 270ms linear;
    display: block;
}
/** ——— 3. a. Trusted + b. Box money + c. Four boxes ——— */
/** ——— 3. a. Trusted ——— */
.thirdpart .trusted {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    padding-top: 100px;
    padding-bottom: 90px;
}
/** ——— 3. b. Box money ——— */
.thirdpart .box-money {
    left: 15%;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    padding: 5px 50px 50px 50px;
    margin: 0px 20px 0px 0px;
    border-radius: 7px;
    background-color: #ffffff;
    transition: all 270ms linear; 
}
.thirdpart .box-money:hover {
    box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9);
}
.thirdpart .box-money h3 {
    font-size: 50px;
}
.thirdpart .box-money p {
    font-size: 21px;
}
.thirdpart .box-money ul {
    line-height: 24px;
    font-size: 13px;
    list-style-type: none; 
    padding: 0;
    padding-bottom: 10px;  
}
.thirdpart .box-money ul li img {
    margin-right: 20px;
}
.thirdpart .box-money a {
   text-decoration: none;
   font-size: 21px;
   color: #2196f3;
   position: absolute;
   margin-left: 130px;
}
/** ——— 3. c. Four boxes ——— */
.thirdpart .four-side {
    padding-left: 575px;
    padding-top: 50px;
    margin-bottom: 300px;
    font-family: 'Rubik', sans-serif;
}
.thirdpart .four-side span {
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 10px;
    padding: 7px;
    width: 10px;
    height: 10px;   
}
.thirdpart .four-side h4 {
    font-size: 21px;
    margin: 15px 0px;
}
.thirdpart .four-side p {
    font-size: 13px;
    color: #6f7982; 
}
.thirdpart .four-side .add-card {
    float: left;
    margin-left: 100px;
}
.thirdpart .four-side .easy-checkout {
    float: right;
    margin-right: 250px;
}
.thirdpart .four-side .pay-any {
    margin-top: 60px;
}
.thirdpart .four-side .adv-secu {
    margin-top: 60px;
}
/**=== FOOTER: 1. TOP FOOTER + 2. BOTTOM FOOTER ===*/
footer {
    background: url("../Maquette/assets/images/BG.png");
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden; 
    text-align: left;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}
footer .container-footer {
    width: 1079px;
    margin: 0 auto;
    padding: 120px 0;
    overflow: hidden; 
}
/** ——— 1. Top footer: a. list + b. Newsletterbox ——— */
/** ——— 1. Top footer: a. list ——— */
.container-footer .list strong {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 3.5;
    text-transform: uppercase;
}
.container-footer .list li {
    font-size: 14px;
    letter-spacing: 1.4px;
}
footer .container-footer .list {
    float: left;
    width: 50%;
    line-height: 2;
}
footer .container-footer .list .col-3 ul li a span {
    background-color: #2196f3;
    border-radius: 2px;
    padding: 4px;
    font-size: 11px;
    letter-spacing: 1px;
}
/** ——— 1. Top footer: b. Newsletterbox ——— */
footer .container-footer .newsletter {
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-right: 5%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 7px;  
    padding: 20px 25px 35px 25px;
    transform: translateY(0%);
}
footer .col-1,
footer .col-2,
footer .col-3 {
    float: left;
}
footer .col-2,
footer .col-3 {
    margin-left: 110px;
}
footer ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

footer .newsletter h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    color:#00da97;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
footer .newsletter p {
    font-size: 14px;
    letter-spacing: 0.5px;
}
footer .container-footer .newsletter .email input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px;  
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}
footer .container-footer .newsletter .email input::placeholder {
    color: #aaaaab
}
footer .container-footer .newsletter .email a {
    border: 1px solid #00da97;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;  
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color:#00da97;
    text-decoration: none;
}
/** ——— 2. Bottom footer: Terms, bottom logo, links ——— */
/** ——— 2. Bottom footer: Terms ——— */
footer .terms {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;  
}
footer .terms p{
    width: 30vw;
    text-decoration:none;
    color: #8a99c0;
    padding-left: 40px;
    font-size: 13px;
}
footer .terms p a{
    text-decoration:none;
    color: #8a99c0;
}
/** ——— 2. Bottom footer: Bottom logo IMG adjusting ——— */
footer .terms img{
    height: 50%;
}
/** ——— 2. Bottom footer: links ——— */
footer .terms ul{
    display: inline-flex;
    list-style: none;
    width: 10vw;
    margin-left: 20vw;
    margin-right: 15px;
    transform: translateY(25%);
}
footer .terms ul li a{
    color: #8a99c0;
    margin-right: 15px;
}




